In [1]:
import pandas as pd
import numpy as np
import copy
from sklearn import neighbors

In [2]:
aa = pd.read_csv("./3153955.csv")
aa.shape

(3285000, 38)

In [3]:
aa

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,HLY-DEWP-NORMAL,meas_flag_HLY-DEWP-NORMAL,comp_flag_HLY-DEWP-NORMAL,years_HLY-DEWP-NORMAL,...,comp_flag_day,years_day,hour,meas_flag_hour,comp_flag_hour,years_hour,month,meas_flag_month,comp_flag_month,years_month
0,USW00093837,"JACKSONVILLE NAS, FL US",30.2333,-81.6667,6.1,01-01T00:00:00,48.2,,S,30,...,NaN,NaN,0,NaN,NaN,NaN,1,NaN,NaN,NaN
1,USW00093837,"JACKSONVILLE NAS, FL US",30.2333,-81.6667,6.1,01-01T01:00:00,47.9,,S,30,...,NaN,NaN,1,NaN,NaN,NaN,1,NaN,NaN,NaN
2,USW00093837,"JACKSONVILLE NAS, FL US",30.2333,-81.6667,6.1,01-01T02:00:00,47.6,,S,30,...,NaN,NaN,2,NaN,NaN,NaN,1,NaN,NaN,NaN
3,USW00093837,"JACKSONVILLE NAS, FL US",30.2333,-81.6667,6.1,01-01T03:00:00,47.4,,S,30,...,NaN,NaN,3,NaN,NaN,NaN,1,NaN,NaN,NaN
4,USW00093837,"JACKSONVILLE NAS, FL US",30.2333,-81.6667,6.1,01-01T04:00:00,47.1,,S,30,...,NaN,NaN,4,NaN,NaN,NaN,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3284995,USW00012819,"LEESBURG MUNI AP, FL US",28.8208,-81.8097,23.5,12-31T19:00:00,53.0,,S,29,...,NaN,NaN,19,NaN,NaN,NaN,12,NaN,NaN,NaN
3284996,USW00012819,"LEESBURG MUNI AP, FL US",28.8208,-81.8097,23.5,12-31T20:00:00,53.1,,S,30,...,NaN,NaN,20,NaN,NaN,NaN,12,NaN,NaN,NaN
3284997,USW00012819,"LEESBURG MUNI AP, FL US",28.8208,-81.8097,23.5,12-31T21:00:00,53.1,,S,30,...,NaN,NaN,21,NaN,NaN,NaN,12,NaN,NaN,NaN
3284998,USW00012819,"LEESBURG MUNI AP, FL US",28.8208,-81.8097,23.5,12-31T22:00:00,53.1,,S,30,...,NaN,NaN,22,NaN,NaN,NaN,12,NaN,NaN,NaN
3284999,USW00012819,"LEESBURG MUNI AP, FL US",28.8208,-81.8097,23.5,12-31T23:00:00,52.6,,S,30,...,NaN,NaN,23,NaN,NaN,NaN,12,NaN,NaN,NaN

In [4]:
aa.columns

Index(['STATION', 'NAME', 'LATITUDE', 'LONGITUDE', 'ELEVATION', 'DATE',
       'HLY-DEWP-NORMAL', 'meas_flag_HLY-DEWP-NORMAL',
       'comp_flag_HLY-DEWP-NORMAL', 'years_HLY-DEWP-NORMAL', 'HLY-HIDX-NORMAL',
       'meas_flag_HLY-HIDX-NORMAL', 'comp_flag_HLY-HIDX-NORMAL',
       'years_HLY-HIDX-NORMAL', 'HLY-TEMP-NORMAL', 'meas_flag_HLY-TEMP-NORMAL',
       'comp_flag_HLY-TEMP-NORMAL', 'years_HLY-TEMP-NORMAL', 'HLY-WIND-AVGSPD',
       'meas_flag_HLY-WIND-AVGSPD', 'comp_flag_HLY-WIND-AVGSPD',
       'years_HLY-WIND-AVGSPD', 'HLY-WIND-VCTSPD', 'meas_flag_HLY-WIND-VCTSPD',
       'comp_flag_HLY-WIND-VCTSPD', 'years_HLY-WIND-VCTSPD', 'day',
       'meas_flag_day', 'comp_flag_day', 'years_day', 'hour', 'meas_flag_hour',
       'comp_flag_hour', 'years_hour', 'month', 'meas_flag_month',
       'comp_flag_month', 'years_month'],
      dtype='object')

In [5]:
bb = aa.loc[:][['STATION', 'NAME', 'LATITUDE', 'LONGITUDE', 'ELEVATION', 'DATE', 'HLY-DEWP-NORMAL', 'HLY-TEMP-NORMAL', 'HLY-WIND-AVGSPD', 'HLY-WIND-VCTSPD', 'day', 'hour', 'month']]
bb

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,HLY-DEWP-NORMAL,HLY-TEMP-NORMAL,HLY-WIND-AVGSPD,HLY-WIND-VCTSPD,day,hour,month
0,USW00093837,"JACKSONVILLE NAS, FL US",30.2333,-81.6667,6.1,01-01T00:00:00,48.2,56.0,7.6,2.8,1,0,1
1,USW00093837,"JACKSONVILLE NAS, FL US",30.2333,-81.6667,6.1,01-01T01:00:00,47.9,55.4,7.4,2.9,1,1,1
2,USW00093837,"JACKSONVILLE NAS, FL US",30.2333,-81.6667,6.1,01-01T02:00:00,47.6,54.8,7.5,3.0,1,2,1
3,USW00093837,"JACKSONVILLE NAS, FL US",30.2333,-81.6667,6.1,01-01T03:00:00,47.4,54.4,7.8,3.6,1,3,1
4,USW00093837,"JACKSONVILLE NAS, FL US",30.2333,-81.6667,6.1,01-01T04:00:00,47.1,53.8,7.8,3.7,1,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3284995,USW00012819,"LEESBURG MUNI AP, FL US",28.8208,-81.8097,23.5,12-31T19:00:00,53.0,62.2,6.2,2.0,31,19,12
3284996,USW00012819,"LEESBURG MUNI AP, FL US",28.8208,-81.8097,23.5,12-31T20:00:00,53.1,61.2,6.5,2.4,31,20,12
3284997,USW00012819,"LEESBURG MUNI AP, FL US",28.8208,-81.8097,23.5,12-31T21:00:00,53.1,60.1,6.4,2.1,31,21,12
3284998,USW00012819,"LEESBURG MUNI AP, FL US",28.8208,-81.8097,23.5,12-31T22:00:00,53.1,59.2,5.7,2.1,31,22,12
3284999,USW00012819,"LEESBURG MUNI AP, FL US",28.8208,-81.8097,23.5,12-31T23:00:00,52.6,58.4,5.7,1.9,31,23,12

In [6]:
for i in range(1, 13):
    if i == 3:
        continue
        
    filt = bb[bb['month'] == i].index
    bb.drop(filt, inplace = True)
    print(bb.shape)
bb

(3006000, 13)
(2754000, 13)
(2484000, 13)
(2205000, 13)
(1935000, 13)
(1656000, 13)
(1377000, 13)
(1107000, 13)
(828000, 13)
(558000, 13)
(279000, 13)

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,HLY-DEWP-NORMAL,HLY-TEMP-NORMAL,HLY-WIND-AVGSPD,HLY-WIND-VCTSPD,day,hour,month
1416,USW00093837,"JACKSONVILLE NAS, FL US",30.2333,-81.6667,6.1,03-01T00:00:00,49.8,59.4,7.9,1.7,1,0,3
1417,USW00093837,"JACKSONVILLE NAS, FL US",30.2333,-81.6667,6.1,03-01T01:00:00,49.6,58.6,7.8,1.9,1,1,3
1418,USW00093837,"JACKSONVILLE NAS, FL US",30.2333,-81.6667,6.1,03-01T02:00:00,49.5,58.0,7.4,2.1,1,2,3
1419,USW00093837,"JACKSONVILLE NAS, FL US",30.2333,-81.6667,6.1,03-01T03:00:00,49.3,57.4,7.6,2.5,1,3,3
1420,USW00093837,"JACKSONVILLE NAS, FL US",30.2333,-81.6667,6.1,03-01T04:00:00,48.9,56.6,7.8,2.7,1,4,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3278395,USW00012819,"LEESBURG MUNI AP, FL US",28.8208,-81.8097,23.5,03-31T19:00:00,57.0,72.6,8.6,0.5,31,19,3
3278396,USW00012819,"LEESBURG MUNI AP, FL US",28.8208,-81.8097,23.5,03-31T20:00:00,57.3,70.3,8.1,0.8,31,20,3
3278397,USW00012819,"LEESBURG MUNI AP, FL US",28.8208,-81.8097,23.5,03-31T21:00:00,57.7,68.8,7.5,0.7,31,21,3
3278398,USW00012819,"LEESBURG MUNI AP, FL US",28.8208,-81.8097,23.5,03-31T22:00:00,58.1,67.2,6.1,0.5,31,22,3
3278399,USW00012819,"LEESBURG MUNI AP, FL US",28.8208,-81.8097,23.5,03-31T23:00:00,58.4,66.1,5.7,0.6,31,23,3

In [7]:
for i in range(1, 6):
    filt = bb[bb['day'] == i].index
    bb.drop(filt, inplace = True)
    print(bb.shape)

for i in range(26, 32):
    filt = bb[bb['day'] == i].index
    bb.drop(filt, inplace = True)
    print(bb.shape)

bb

(270000, 13)
(261000, 13)
(252000, 13)
(243000, 13)
(234000, 13)
(225000, 13)
(216000, 13)
(207000, 13)
(198000, 13)
(189000, 13)
(180000, 13)

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,HLY-DEWP-NORMAL,HLY-TEMP-NORMAL,HLY-WIND-AVGSPD,HLY-WIND-VCTSPD,day,hour,month
1536,USW00093837,"JACKSONVILLE NAS, FL US",30.2333,-81.6667,6.1,03-06T00:00:00,50.0,59.8,7.6,1.3,6,0,3
1537,USW00093837,"JACKSONVILLE NAS, FL US",30.2333,-81.6667,6.1,03-06T01:00:00,49.8,59.0,7.4,1.5,6,1,3
1538,USW00093837,"JACKSONVILLE NAS, FL US",30.2333,-81.6667,6.1,03-06T02:00:00,49.7,58.2,7.0,1.7,6,2,3
1539,USW00093837,"JACKSONVILLE NAS, FL US",30.2333,-81.6667,6.1,03-06T03:00:00,49.5,57.5,7.3,2.2,6,3,3
1540,USW00093837,"JACKSONVILLE NAS, FL US",30.2333,-81.6667,6.1,03-06T04:00:00,49.1,56.7,7.3,2.3,6,4,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3278251,USW00012819,"LEESBURG MUNI AP, FL US",28.8208,-81.8097,23.5,03-25T19:00:00,55.7,71.2,8.6,0.4,25,19,3
3278252,USW00012819,"LEESBURG MUNI AP, FL US",28.8208,-81.8097,23.5,03-25T20:00:00,56.1,69.1,8.0,0.8,25,20,3
3278253,USW00012819,"LEESBURG MUNI AP, FL US",28.8208,-81.8097,23.5,03-25T21:00:00,56.5,67.5,7.4,1.0,25,21,3
3278254,USW00012819,"LEESBURG MUNI AP, FL US",28.8208,-81.8097,23.5,03-25T22:00:00,56.9,65.9,6.4,0.8,25,22,3
3278255,USW00012819,"LEESBURG MUNI AP, FL US",28.8208,-81.8097,23.5,03-25T23:00:00,57.1,64.8,5.8,0.6,25,23,3

In [8]:
zz = ['USW00063862', 'USW00063899', 'USW00063896', 'USW00023801', 'USW00093784', 'USW00063856', 'USW00063855', 'USW00063857', 'USW00063867', 'USW00063838', 'USW00063850', 'USW00063849', 'USW00092821', 'USW00092827', 'USW00092826', 'USW00063898', 'USW00063897', 'USW00064758', 'USW00064756', 'USW00063891', 'USW00003728', 'USW00003733', 'USW00003739', 'USW00053878', 'USW00053877', 'USW00003759', 'USW00003758', 'USW00054794', 'USW00054795', 'USW00054796', 'USW00054797', 'USW00003761', 'USW00063826', 'USW00063829', 'USW00063828']
for i in zz:
    filt = bb[bb['STATION'] == i].index
    bb.drop(filt, inplace = True)
    print(bb.shape)
bb

(179520, 13)
(179040, 13)
(178560, 13)
(178080, 13)
(177600, 13)
(177120, 13)
(176640, 13)
(176160, 13)
(175680, 13)
(175200, 13)
(174720, 13)
(174240, 13)
(173760, 13)
(173280, 13)
(172800, 13)
(172320, 13)
(171840, 13)
(171360, 13)
(170880, 13)
(170400, 13)
(169920, 13)
(169440, 13)
(168960, 13)
(168480, 13)
(168000, 13)
(167520, 13)
(167040, 13)
(166560, 13)
(166080, 13)
(165600, 13)
(165120, 13)
(164640, 13)
(164160, 13)
(163680, 13)
(163200, 13)

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,HLY-DEWP-NORMAL,HLY-TEMP-NORMAL,HLY-WIND-AVGSPD,HLY-WIND-VCTSPD,day,hour,month
1536,USW00093837,"JACKSONVILLE NAS, FL US",30.2333,-81.6667,6.1,03-06T00:00:00,50.0,59.8,7.6,1.3,6,0,3
1537,USW00093837,"JACKSONVILLE NAS, FL US",30.2333,-81.6667,6.1,03-06T01:00:00,49.8,59.0,7.4,1.5,6,1,3
1538,USW00093837,"JACKSONVILLE NAS, FL US",30.2333,-81.6667,6.1,03-06T02:00:00,49.7,58.2,7.0,1.7,6,2,3
1539,USW00093837,"JACKSONVILLE NAS, FL US",30.2333,-81.6667,6.1,03-06T03:00:00,49.5,57.5,7.3,2.2,6,3,3
1540,USW00093837,"JACKSONVILLE NAS, FL US",30.2333,-81.6667,6.1,03-06T04:00:00,49.1,56.7,7.3,2.3,6,4,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3278251,USW00012819,"LEESBURG MUNI AP, FL US",28.8208,-81.8097,23.5,03-25T19:00:00,55.7,71.2,8.6,0.4,25,19,3
3278252,USW00012819,"LEESBURG MUNI AP, FL US",28.8208,-81.8097,23.5,03-25T20:00:00,56.1,69.1,8.0,0.8,25,20,3
3278253,USW00012819,"LEESBURG MUNI AP, FL US",28.8208,-81.8097,23.5,03-25T21:00:00,56.5,67.5,7.4,1.0,25,21,3
3278254,USW00012819,"LEESBURG MUNI AP, FL US",28.8208,-81.8097,23.5,03-25T22:00:00,56.9,65.9,6.4,0.8,25,22,3
3278255,USW00012819,"LEESBURG MUNI AP, FL US",28.8208,-81.8097,23.5,03-25T23:00:00,57.1,64.8,5.8,0.6,25,23,3

In [9]:
cc = pd.Index.value_counts(bb.loc[:]['STATION'])
cc  # 현재 노드 375개, 시간 480시간

USW00093837    480
USW00013889    480
USW00014752    480
USW00014753    480
USW00013786    480
              ...
USW00003810    480
USW00013849    480
USW00053870    480
USW00013728    480
USW00012819    480
Name: STATION, Length: 340, dtype: int64

In [10]:
cc = bb.copy()  # 일단 node index 만들기

In [11]:
for i in range(340):
    cc.drop(cc.iloc[i+1:i+480].index, inplace = True)
    print(cc.shape)
cc

(162721, 13)
(162242, 13)
(161763, 13)
(161284, 13)
(160805, 13)
(160326, 13)
(159847, 13)
(159368, 13)
(158889, 13)
(158410, 13)
(157931, 13)
(157452, 13)
(156973, 13)
(156494, 13)
(156015, 13)
(155536, 13)
(155057, 13)
(154578, 13)
(154099, 13)
(153620, 13)
(153141, 13)
(152662, 13)
(152183, 13)
(151704, 13)
(151225, 13)
(150746, 13)
(150267, 13)
(149788, 13)
(149309, 13)
(148830, 13)
(148351, 13)
(147872, 13)
(147393, 13)
(146914, 13)
(146435, 13)
(145956, 13)
(145477, 13)
(144998, 13)
(144519, 13)
(144040, 13)
(143561, 13)
(143082, 13)
(142603, 13)
(142124, 13)
(141645, 13)
(141166, 13)
(140687, 13)
(140208, 13)
(139729, 13)
(139250, 13)
(138771, 13)
(138292, 13)
(137813, 13)
(137334, 13)
(136855, 13)
(136376, 13)
(135897, 13)
(135418, 13)
(134939, 13)
(134460, 13)
(133981, 13)
(133502, 13)
(133023, 13)
(132544, 13)
(132065, 13)
(131586, 13)
(131107, 13)
(130628, 13)
(130149, 13)
(129670, 13)
(129191, 13)
(128712, 13)
(128233, 13)
(127754, 13)
(127275, 13)
(126796, 13)
(126317, 13)
(125838, 13)
(125359, 13)
(124880, 13)
(124401, 13)
(123922, 13)
(123443, 13)
(122964, 13)
(122485, 13)
(122006, 13)
(121527, 13)
(121048, 13)
(120569, 13)
(120090, 13)
(119611, 13)
(119132, 13)
(118653, 13)
(118174, 13)
(117695, 13)
(117216, 13)
(116737, 13)
(116258, 13)
(115779, 13)
(115300, 13)
(114821, 13)
(114342, 13)
(113863, 13)
(113384, 13)
(112905, 13)
(112426, 13)
(111947, 13)
(111468, 13)
(110989, 13)
(110510, 13)
(110031, 13)
(109552, 13)
(109073, 13)
(108594, 13)
(108115, 13)
(107636, 13)
(107157, 13)
(106678, 13)
(106199, 13)
(105720, 13)
(105241, 13)
(104762, 13)
(104283, 13)
(103804, 13)
(103325, 13)
(102846, 13)
(102367, 13)
(101888, 13)
(101409, 13)
(100930, 13)
(100451, 13)
(99972, 13)
(99493, 13)
(99014, 13)
(98535, 13)
(98056, 13)
(97577, 13)
(97098, 13)
(96619, 13)
(96140, 13)
(95661, 13)
(95182, 13)
(94703, 13)
(94224, 13)
(93745, 13)
(93266, 13)
(92787, 13)
(92308, 13)
(91829, 13)
(91350, 13)
(90871, 13)
(90392, 13)
(89913, 13)
(89434, 13)
(88955, 13)
(88476, 13)
(87997, 13)
(87518, 13)
(87039, 13)
(86560, 13)
(86081, 13)
(85602, 13)
(85123, 13)
(84644, 13)
(84165, 13)
(83686, 13)
(83207, 13)
(82728, 13)
(82249, 13)
(81770, 13)
(81291, 13)
(80812, 13)
(80333, 13)
(79854, 13)
(79375, 13)
(78896, 13)
(78417, 13)
(77938, 13)
(77459, 13)
(76980, 13)
(76501, 13)
(76022, 13)
(75543, 13)
(75064, 13)
(74585, 13)
(74106, 13)
(73627, 13)
(73148, 13)
(72669, 13)
(72190, 13)
(71711, 13)
(71232, 13)
(70753, 13)
(70274, 13)
(69795, 13)
(69316, 13)
(68837, 13)
(68358, 13)
(67879, 13)
(67400, 13)
(66921, 13)
(66442, 13)
(65963, 13)
(65484, 13)
(65005, 13)
(64526, 13)
(64047, 13)
(63568, 13)
(63089, 13)
(62610, 13)
(62131, 13)
(61652, 13)
(61173, 13)
(60694, 13)
(60215, 13)
(59736, 13)
(59257, 13)
(58778, 13)
(58299, 13)
(57820, 13)
(57341, 13)
(56862, 13)
(56383, 13)
(55904, 13)
(55425, 13)
(54946, 13)
(54467, 13)
(53988, 13)
(53509, 13)
(53030, 13)
(52551, 13)
(52072, 13)
(51593, 13)
(51114, 13)
(50635, 13)
(50156, 13)
(49677, 13)
(49198, 13)
(48719, 13)
(48240, 13)
(47761, 13)
(47282, 13)
(46803, 13)
(46324, 13)
(45845, 13)
(45366, 13)
(44887, 13)
(44408, 13)
(43929, 13)
(43450, 13)
(42971, 13)
(42492, 13)
(42013, 13)
(41534, 13)
(41055, 13)
(40576, 13)
(40097, 13)
(39618, 13)
(39139, 13)
(38660, 13)
(38181, 13)
(37702, 13)
(37223, 13)
(36744, 13)
(36265, 13)
(35786, 13)
(35307, 13)
(34828, 13)
(34349, 13)
(33870, 13)
(33391, 13)
(32912, 13)
(32433, 13)
(31954, 13)
(31475, 13)
(30996, 13)
(30517, 13)
(30038, 13)
(29559, 13)
(29080, 13)
(28601, 13)
(28122, 13)
(27643, 13)
(27164, 13)
(26685, 13)
(26206, 13)
(25727, 13)
(25248, 13)
(24769, 13)
(24290, 13)
(23811, 13)
(23332, 13)
(22853, 13)
(22374, 13)
(21895, 13)
(21416, 13)
(20937, 13)
(20458, 13)
(19979, 13)
(19500, 13)
(19021, 13)
(18542, 13)
(18063, 13)
(17584, 13)
(17105, 13)
(16626, 13)
(16147, 13)
(15668, 13)
(15189, 13)
(14710, 13)
(14231, 13)
(13752, 13)
(13273, 13)
(12794, 13)
(12315, 13)
(11836, 13)
(11357, 13)
(10878, 13)
(10399, 13)
(9920, 13)
(9441, 13)
(8962, 13)
(8483, 13)
(8004, 13)
(7525, 13)
(7046, 13)
(6567, 13)
(6088, 13)
(5609, 13)
(5130, 13)
(4651, 13)
(4172, 13)
(3693, 13)
(3214, 13)
(2735, 13)
(2256, 13)
(1777, 13)
(1298, 13)
(819, 13)
(340, 13)

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,HLY-DEWP-NORMAL,HLY-TEMP-NORMAL,HLY-WIND-AVGSPD,HLY-WIND-VCTSPD,day,hour,month
1536,USW00093837,"JACKSONVILLE NAS, FL US",30.2333,-81.6667,6.1,03-06T00:00:00,50.0,59.8,7.6,1.3,6,0,3
10296,USW00053819,"ATLANTA, GA US",33.3633,-84.5658,261.5,03-06T00:00:00,39.0,46.9,3.3,1.1,6,0,3
19056,USW00093718,"N MYRTLE BCH AP, SC US",33.8117,-78.7239,9.8,03-06T00:00:00,42.7,49.3,6.2,1.5,6,0,3
27816,USW00093719,"NEW BERN CRAVEN CO AP, NC US",35.0678,-77.0481,5.8,03-06T00:00:00,39.1,46.2,5.4,1.2,6,0,3
36576,USW00012832,"APALACHICOLA AP, FL US",29.7333,-85.0333,5.8,03-06T00:00:00,50.4,55.7,5.7,0.7,6,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3242736,USW00054778,"PENN YAN AP, NY US",42.6425,-77.0564,275.2,03-06T00:00:00,20.1,29.3,7.5,4.4,6,0,3
3251496,USW00054779,"ANDOVER AEROFLEX AP, NJ US",41.0089,-74.7367,177.7,03-06T00:00:00,22.4,31.8,3.5,1.2,6,0,3
3260256,USW00012816,"GAINESVILLE RGNL AP, FL US",29.6919,-82.2756,37.5,03-06T00:00:00,48.8,54.8,4.2,0.8,6,0,3
3269016,USW00012812,"PUNTA GORDA CHARLOTTE CO AP, FL US",26.9172,-81.9914,7.6,03-06T00:00:00,55.4,60.6,6.1,2.3,6,0,3
3277776,USW00012819,"LEESBURG MUNI AP, FL US",28.8208,-81.8097,23.5,03-06T00:00:00,52.9,60.0,5.3,0.5,6,0,3

In [12]:
dd = pd.Index.value_counts(cc.loc[:]['STATION'])
dd

USW00093837    1
USW00013889    1
USW00014752    1
USW00014753    1
USW00013786    1
              ..
USW00003810    1
USW00013849    1
USW00053870    1
USW00013728    1
USW00012819    1
Name: STATION, Length: 340, dtype: int64

In [13]:
cc['ELEVATION'] *= 0.0001  # 높이 차이를 좀 줄이장
dd = np.array(cc.loc[:][['LATITUDE', 'LONGITUDE', 'ELEVATION']])
dd.shape, dd

((340, 3),
 array([[ 3.02333e+01, -8.16667e+01,  6.10000e-04],
        [ 3.33633e+01, -8.45658e+01,  2.61500e-02],
        [ 3.38117e+01, -7.87239e+01,  9.80000e-04],
        ...,
        [ 2.96919e+01, -8.22756e+01,  3.75000e-03],
        [ 2.69172e+01, -8.19914e+01,  7.60000e-04],
        [ 2.88208e+01, -8.18097e+01,  2.35000e-03]]))

In [33]:
nbrs = neighbors.NearestNeighbors(n_neighbors=7, radius = 1.377, algorithm='brute').fit(dd)
distance, indice = nbrs.radius_neighbors(dd)

In [34]:
indice

array([array([  0,  33,  76, 137, 199, 219, 224, 337], dtype=int64),
       array([  1,  23,  56,  84, 102, 103, 119, 125, 128, 138, 161, 163, 168,
              296], dtype=int64)                                              ,
       array([  2,  40,  52, 123, 177, 206, 324], dtype=int64),
       array([  3,  12,  83, 160, 177, 269, 300], dtype=int64),
       array([  4,  85, 114, 133], dtype=int64),
       array([  5,  60,  72, 152, 181, 254], dtype=int64),
       array([  6,  25,  49,  50,  97,  99, 132, 147, 228, 240], dtype=int64),
       array([  7,  21,  24,  43,  73,  75, 114, 133, 145, 153, 159, 165, 189,
              200, 203, 209, 214, 216, 259], dtype=int64)                     ,
       array([  8,  32,  85, 137, 149, 172, 176], dtype=int64),
       array([  9,  77, 113, 119, 143, 163, 174, 185, 236, 263], dtype=int64),
       array([ 10, 107, 157], dtype=int64),
       array([ 11, 112, 124, 139, 167, 178, 197, 244, 304, 323], dtype=int64),
       array([  3,  12,  83, 160, 177, 269, 300], dtype=int64),
       array([ 13,  22,  41,  59,  66,  89, 130, 136, 155, 162, 211, 258, 309,
              317], dtype=int64)                                              ,
       array([ 14,  54,  79,  91, 124, 157, 178, 186, 194, 272, 273], dtype=int64),
       array([ 15, 160, 230, 300], dtype=int64),
       array([ 16,  19,  65,  67,  70, 227, 305, 332, 334, 338, 339], dtype=int64),
       array([ 17,  26, 100, 117, 166, 170, 173, 301], dtype=int64),
       array([ 18,  28,  50,  78,  82, 127, 334], dtype=int64),
       array([ 16,  19,  28,  33,  44,  65,  78,  82, 305, 332, 334, 339],
             dtype=int64)                                                 ,
       array([ 20,  42,  57,  66, 151, 162, 187, 225, 258, 329], dtype=int64),
       array([  7,  21,  24,  73, 145, 153, 159, 165, 189, 200, 203, 216],
             dtype=int64)                                                 ,
       array([ 13,  22,  41,  57,  59,  66,  89, 129, 130, 155, 162, 211, 225,
              233, 255, 258, 317], dtype=int64)                               ,
       array([  1,  23,  56,  75, 125, 138, 161, 176, 259, 296], dtype=int64),
       array([  7,  21,  24,  43,  73, 145, 153, 159, 165, 189, 200, 203, 209,
              214, 216, 259], dtype=int64)                                    ,
       array([  6,  25,  49,  50,  97,  99, 132, 147, 228, 240], dtype=int64),
       array([ 17,  26,  87, 166, 170, 173], dtype=int64),
       array([ 27, 217, 223, 242, 249, 274, 277, 318], dtype=int64),
       array([ 18,  19,  28,  33,  44,  65,  78,  82, 127, 334, 339], dtype=int64),
       array([ 29,  70, 122, 135, 338], dtype=int64),
       array([ 30,  34,  47, 182, 184, 188, 196, 226, 234, 247, 252, 270, 281,
              288, 292, 303, 308, 314, 330, 336], dtype=int64)                ,
       array([ 31,  46, 132], dtype=int64),
       array([  8,  32, 149, 332, 337], dtype=int64),
       array([  0,  19,  28,  33,  44,  65,  76,  78,  82, 219, 334, 337, 339],
             dtype=int64)                                                      ,
       array([ 30,  34,  47, 140, 175, 184, 188, 196, 212, 226, 232, 234, 252,
              261, 270, 271, 288, 290, 308, 314, 319, 326], dtype=int64)      ,
       array([ 35,  80,  88, 131, 140, 150, 190, 204, 212, 215, 218, 231, 232,
              245, 248, 251, 267, 275, 282, 284, 298, 302, 306, 315, 316, 319,
              321, 333], dtype=int64)                                         ,
       array([ 36,  53,  61,  66, 136, 144, 171, 222, 230, 258, 307, 309],
             dtype=int64)                                                 ,
       array([ 37,  41,  89,  92, 136, 211, 309], dtype=int64),
       array([ 38, 217, 239, 262, 318, 335], dtype=int64),
       array([ 39, 190, 235, 243, 248], dtype=int64),
       array([  2,  40,  52,  64,  81,  83, 123, 177, 206, 269, 324, 325],
             dtype=int64)                                                 ,
       array([ 13,  22,  37,  41,  59,  66,  89, 130, 155, 162, 211, 258, 309,
              317], dtype=int64)                                              ,
       array([ 20,  42,  53,  57,  61,  66, 144, 171, 187, 222, 258, 329],
             dtype=int64)                                                 ,
       array([  7,  24,  43,  56, 101, 153, 158, 165, 168, 209, 214, 259],
             dtype=int64)                                                 ,
       array([ 19,  28,  33,  44,  65,  78,  82, 332, 334, 339], dtype=int64),
       array([ 45,  57, 141, 142, 151, 184, 187, 225, 299, 303, 322, 328, 329,
              330, 331], dtype=int64)                                         ,
       array([ 31,  46, 132], dtype=int64),
       array([ 30,  34,  47, 140, 150, 175, 184, 188, 196, 212, 226, 232, 234,
              247, 252, 261, 270, 271, 282, 288, 290, 308, 314, 315, 319, 326],
             dtype=int64)                                                      ,
       array([ 48,  90, 115, 148, 191, 249, 256, 283, 285, 293], dtype=int64),
       array([  6,  25,  49,  50,  97,  99, 147, 228, 240], dtype=int64),
       array([  6,  18,  25,  49,  50,  97,  99, 127, 147, 228, 240], dtype=int64),
       array([ 51,  62,  68,  71,  93, 118, 154, 164, 183, 266, 294, 297],
             dtype=int64)                                                 ,
       array([  2,  40,  52,  64,  81,  83, 123, 177, 206, 269, 324, 325],
             dtype=int64)                                                 ,
       array([ 36,  42,  53,  61,  66, 136, 144, 171, 222, 230, 258, 307, 309],
             dtype=int64)                                                      ,
       array([ 14,  54,  91, 124, 146, 186, 194, 272, 273, 287, 289, 294],
             dtype=int64)                                                 ,
       array([ 55, 100, 120, 139, 169, 180, 197, 207, 260], dtype=int64),
       array([  1,  23,  43,  56,  75, 176, 214, 259], dtype=int64),
       array([ 20,  22,  42,  45,  57,  66, 126, 141, 142, 151, 162, 187, 225,
              255, 299, 303, 322, 328, 329, 331], dtype=int64)                ,
       array([ 58,  87, 208], dtype=int64),
       array([ 13,  22,  41,  59,  66,  89, 130, 155, 162, 211, 258, 309, 317],
             dtype=int64)                                                      ,
       array([  5,  60, 152, 199, 254], dtype=int64),
       array([ 36,  42,  53,  61,  66, 136, 144, 171, 222, 230, 258, 307, 309],
             dtype=int64)                                                      ,
       array([ 51,  62,  68,  69,  71, 116, 117, 118, 183, 207, 289], dtype=int64),
       array([ 63,  64,  81,  86, 104, 108, 134, 195, 325], dtype=int64),
       array([ 40,  52,  63,  64,  81,  83, 108, 206, 269, 324, 325], dtype=int64),
       array([ 16,  19,  28,  33,  44,  65,  67,  70,  78,  82, 227, 305, 332,
              334, 338, 339], dtype=int64)                                    ,
       array([ 13,  20,  22,  36,  41,  42,  53,  57,  59,  61,  66, 130, 136,
              162, 171, 187, 211, 258, 309, 329], dtype=int64)                ,
       array([ 16,  65,  67,  70, 227, 305, 332, 338, 339], dtype=int64),
       array([ 51,  62,  68,  69,  71,  93, 116, 117, 118, 164, 183, 289],
             dtype=int64)                                                 ,
       array([ 62,  68,  69,  71, 100, 116, 117, 118, 166, 173, 207], dtype=int64),
       array([ 16,  29,  65,  67,  70, 135, 227, 305, 332, 338], dtype=int64),
       array([ 51,  62,  68,  69,  71,  93, 116, 117, 118, 146, 183, 289, 294],
             dtype=int64)                                                      ,
       array([  5,  72,  77,  96, 110, 123, 143, 181, 192], dtype=int64),
       array([  7,  21,  24,  73,  75, 114, 133, 145, 159, 165, 189, 200, 203,
              214, 216], dtype=int64)                                         ,
       array([ 74, 158, 221], dtype=int64),
       array([  7,  23,  56,  73,  75, 114, 133, 145, 153, 165, 176, 189, 200,
              209, 214, 259], dtype=int64)                                    ,
       array([  0,  33,  76, 137, 199, 219, 224, 337], dtype=int64),
       array([  9,  72,  77,  96, 143, 163, 192, 236], dtype=int64),
       array([ 18,  19,  28,  33,  44,  65,  78,  82, 127, 334, 339], dtype=int64),
       array([ 14,  79,  91, 186, 194, 272], dtype=int64),
       array([ 35,  80,  88, 131, 140, 150, 204, 215, 218, 231, 241, 245, 251,
              267, 275, 280, 284, 286, 298, 302, 306, 313, 315, 316, 319, 321,
              326, 333], dtype=int64)                                         ,
       array([ 40,  52,  63,  64,  81,  83, 123, 206, 269, 324, 325], dtype=int64),
       array([ 18,  19,  28,  33,  44,  65,  78,  82, 127, 334, 339], dtype=int64),
       array([  3,  12,  40,  52,  64,  81,  83, 160, 177, 206, 269], dtype=int64),
       array([  1,  84, 102, 103, 119, 128, 161, 168, 193, 296], dtype=int64),
       array([  4,   8,  85, 114, 133, 149, 176], dtype=int64),
       array([ 63,  86, 104, 108, 109, 111, 134, 195, 325], dtype=int64),
       array([ 26,  58,  87, 208], dtype=int64),
       array([ 35,  80,  88, 131, 140, 150, 204, 215, 218, 231, 241, 245, 251,
              267, 275, 280, 284, 286, 298, 302, 306, 315, 316, 319, 321, 333],
             dtype=int64)                                                      ,
       array([ 13,  22,  37,  41,  59,  89, 130, 155, 211, 223, 274, 317],
             dtype=int64)                                                 ,
       array([ 48,  90,  98, 105, 148, 249, 285], dtype=int64),
       array([ 14,  54,  79,  91, 186, 194, 272, 273, 279], dtype=int64),
       array([ 37,  92, 108, 134, 325], dtype=int64),
       array([ 51,  68,  71,  93, 118, 146, 154, 164, 183, 253, 266, 289, 294,
              297], dtype=int64)                                              ,
       array([ 94, 201, 202, 205], dtype=int64),
       array([ 95, 115, 191, 253, 266, 279, 283, 291, 293, 295], dtype=int64),
       array([ 72,  77,  96, 104, 106, 109, 110, 123, 143, 192, 195, 236],
             dtype=int64)                                                 ,
       array([  6,  25,  49,  50,  97,  99, 127, 147, 228, 240], dtype=int64),
       array([ 90,  98, 121, 154, 164, 285, 293, 297], dtype=int64),
       array([  6,  25,  49,  50,  97,  99, 147, 228, 240], dtype=int64),
       array([ 17,  55,  69, 100, 117, 120, 169, 207, 301], dtype=int64),
       array([ 43, 101, 153, 158, 168, 209], dtype=int64),
       array([  1,  84, 102, 103, 119, 125, 128, 161, 163, 296], dtype=int64),
       array([  1,  84, 102, 103, 119, 128, 161, 168, 193, 296], dtype=int64),
       array([ 63,  86,  96, 104, 106, 109, 110, 111, 123, 192, 195, 324],
             dtype=int64)                                                 ,
       array([ 90, 105, 148], dtype=int64),
       array([ 96, 104, 106, 109, 110, 111, 185, 192, 195, 236, 263], dtype=int64),
       array([ 10, 107], dtype=int64),
       array([ 63,  64,  86,  92, 108, 134, 325], dtype=int64),
       array([ 86,  96, 104, 106, 109, 111, 185, 192, 195, 263], dtype=int64),
       array([ 72,  96, 104, 106, 110, 123, 181, 192, 195, 324], dtype=int64),
       array([ 86, 104, 106, 109, 111, 113, 156, 185, 195, 263], dtype=int64),
       array([ 11, 112, 124, 139, 167, 178, 197, 244, 273, 287, 304, 323],
             dtype=int64)                                                 ,
       array([  9, 111, 113, 156, 174, 185, 236, 263], dtype=int64),
       array([  4,   7,  73,  75,  85, 114, 133, 145, 189, 200, 214, 216],
             dtype=int64)                                                 ,
       array([ 48,  95, 115, 154, 191, 253, 266, 279, 283, 285, 291, 293, 295],
             dtype=int64)                                                      ,
       array([ 62,  68,  69,  71, 116, 117, 118, 166, 173], dtype=int64),
       array([ 17,  62,  68,  69,  71, 100, 116, 117, 118, 166, 170, 173],
             dtype=int64)                                                 ,
       array([ 51,  62,  68,  69,  71,  93, 116, 117, 118, 146, 183, 207, 289,
              294], dtype=int64)                                              ,
       array([  1,   9,  84, 102, 103, 119, 128, 161, 163, 174, 296], dtype=int64),
       array([ 55, 100, 120, 169, 180, 207, 301], dtype=int64),
       array([ 98, 121, 229, 237, 250], dtype=int64),
       array([ 29, 122, 135, 338], dtype=int64),
       array([  2,  40,  52,  72,  81,  96, 104, 110, 123, 181, 206, 324],
             dtype=int64)                                                 ,
       array([ 11,  14,  54, 112, 124, 157, 178, 186, 194, 272, 273, 287, 304],
             dtype=int64)                                                      ,
       array([  1,  23, 102, 125, 138, 161, 163, 176], dtype=int64),
       array([ 57, 126, 129, 141, 151, 220, 225, 233, 255, 268, 276, 278, 292,
              299, 303, 317, 322, 328, 330, 331], dtype=int64)                ,
       array([ 18,  28,  50,  78,  82,  97, 127, 228, 334], dtype=int64),
       array([  1,  84, 102, 103, 119, 128, 161, 163, 193, 296], dtype=int64),
       array([ 22, 126, 129, 130, 155, 162, 225, 233, 255, 268, 276, 317, 328],
             dtype=int64)                                                      ,
       array([ 13,  22,  41,  59,  66,  89, 129, 130, 136, 155, 162, 211, 258,
              309, 317], dtype=int64)                                         ,
       array([ 35,  80,  88, 131, 150, 190, 204, 215, 218, 231, 245, 246, 248,
              251, 267, 275, 284, 302, 306, 310, 316, 321, 333], dtype=int64) ,
       array([  6,  25,  31,  46, 132, 147], dtype=int64),
       array([  4,   7,  73,  75,  85, 114, 133, 165, 176, 189, 200, 214, 259],
             dtype=int64)                                                      ,
       array([ 63,  86,  92, 108, 134, 229, 250, 325], dtype=int64),
       array([ 29,  70, 122, 135, 338], dtype=int64),
       array([ 13,  36,  37,  53,  61,  66, 130, 136, 144, 171, 211, 258, 307,
              309], dtype=int64)                                              ,
       array([  0,   8,  76, 137, 149, 172, 199, 219, 224, 254], dtype=int64),
       array([  1,  23, 125, 138, 161, 163, 176], dtype=int64),
       array([ 11,  55, 112, 139, 197, 207, 244, 260, 287, 323], dtype=int64),
       array([ 34,  35,  47,  80,  88, 140, 150, 175, 212, 215, 231, 232, 241,
              245, 261, 267, 271, 282, 290, 298, 315, 316, 319, 326, 333],
             dtype=int64)                                                     ,
       array([ 45,  57, 126, 141, 142, 151, 184, 187, 220, 225, 255, 292, 299,
              303, 322, 328, 330, 331, 336], dtype=int64)                     ,
       array([ 45,  57, 141, 142, 151, 184, 188, 196, 220, 225, 234, 270, 281,
              292, 299, 303, 308, 322, 328, 330, 331, 336], dtype=int64)      ,
       array([  9,  72,  77,  96, 143, 192, 236], dtype=int64),
       array([ 36,  42,  53,  61, 136, 144, 171, 222, 230, 258, 307], dtype=int64),
       array([  7,  21,  24,  73,  75, 114, 145, 153, 159, 165, 189, 200, 203,
              214, 216], dtype=int64)                                         ,
       array([ 54,  71,  93, 118, 146, 183, 186, 194, 266, 272, 273, 287, 289,
              294], dtype=int64)                                              ,
       array([  6,  25,  49,  50,  97,  99, 132, 147, 228, 240], dtype=int64),
       array([ 48,  90, 105, 148, 249, 274, 285], dtype=int64),
       array([  8,  32,  85, 137, 149, 172, 176], dtype=int64),
       array([ 35,  47,  80,  88, 131, 140, 150, 175, 212, 215, 232, 245, 247,
              248, 252, 261, 282, 290, 306, 315, 316, 319, 320, 326, 327],
             dtype=int64)                                                     ,
       array([ 20,  45,  57, 126, 141, 142, 151, 187, 220, 225, 299, 303, 322,
              328, 329, 330, 331], dtype=int64)                               ,
       array([  5,  60, 152, 199, 254], dtype=int64),
       array([  7,  21,  24,  43,  75, 101, 145, 153, 159, 165, 189, 200, 209,
              214, 259], dtype=int64)                                         ,
       array([ 51,  93,  98, 115, 154, 164, 183, 253, 266, 283, 285, 293, 294,
              297], dtype=int64)                                              ,
       array([ 13,  22,  41,  59,  89, 129, 130, 155, 211, 223, 233, 274, 317],
             dtype=int64)                                                      ,
       array([111, 113, 156], dtype=int64),
       array([ 10,  14, 124, 157, 178, 194, 210], dtype=int64),
       array([ 43,  74, 101, 158, 168, 209, 221], dtype=int64),
       array([  7,  21,  24,  73, 145, 153, 159, 165, 189, 200, 203, 216],
             dtype=int64)                                                 ,
       array([  3,  12,  15,  83, 160, 177, 300], dtype=int64),
       array([  1,  23,  84, 102, 103, 119, 125, 128, 138, 161, 163, 296],
             dtype=int64)                                                 ,
       array([ 13,  20,  22,  41,  57,  59,  66, 129, 130, 162, 187, 211, 225,
              233, 255, 258, 317], dtype=int64)                               ,
       array([  1,   9,  77, 102, 119, 125, 128, 138, 161, 163, 174, 185, 236,
              296], dtype=int64)                                              ,
       array([ 51,  68,  93,  98, 154, 164, 183, 253, 266, 294, 297], dtype=int64),
       array([  7,  21,  24,  43,  73,  75, 133, 145, 153, 159, 165, 189, 200,
              203, 209, 214, 216, 259], dtype=int64)                          ,
       array([ 17,  26,  69, 116, 117, 166, 170, 173, 205], dtype=int64),
       array([ 11, 112, 167, 244, 304, 323], dtype=int64),
       array([  1,  43,  84, 101, 103, 158, 168, 296], dtype=int64),
       array([ 55, 100, 120, 169, 180, 207, 301], dtype=int64),
       array([ 17,  26, 117, 166, 170, 173, 301], dtype=int64),
       array([ 36,  42,  53,  61,  66, 136, 144, 171, 222, 230, 258, 307],
             dtype=int64)                                                 ,
       array([  8, 137, 149, 172, 199, 224, 254], dtype=int64),
       array([ 17,  26,  69, 116, 117, 166, 170, 173, 205], dtype=int64),
       array([  9, 113, 119, 163, 174, 185, 236, 263], dtype=int64),
       array([ 34,  47, 140, 150, 175, 188, 212, 232, 234, 241, 252, 261, 270,
              271, 282, 288, 290, 314, 315, 319, 326], dtype=int64)           ,
       array([  8,  23,  56,  75,  85, 125, 133, 138, 149, 176], dtype=int64),
       array([  2,   3,  12,  40,  52,  83, 160, 177, 206, 300], dtype=int64),
       array([ 11,  14, 112, 124, 157, 178, 186, 194, 273, 304], dtype=int64),
       array([179, 238, 264, 265, 311], dtype=int64),
       array([ 55, 120, 169, 180, 260, 301], dtype=int64),
       array([  5,  72, 110, 123, 181], dtype=int64),
       array([ 30, 182, 226, 235, 247, 282, 320, 327], dtype=int64),
       array([ 51,  62,  68,  71,  93, 118, 146, 154, 164, 183, 266, 289, 294,
              297], dtype=int64)                                              ,
       array([ 30,  34,  45,  47, 141, 142, 184, 188, 196, 220, 226, 234, 252,
              270, 271, 281, 288, 292, 299, 303, 308, 314, 322, 330, 331, 336],
             dtype=int64)                                                      ,
       array([  9, 106, 109, 111, 113, 163, 174, 185, 236, 263], dtype=int64),
       array([ 14,  54,  79,  91, 124, 146, 178, 186, 194, 272, 273, 287],
             dtype=int64)                                                 ,
       array([ 20,  42,  45,  57,  66, 141, 151, 162, 187, 225, 258, 322, 329],
             dtype=int64)                                                      ,
       array([ 30,  34,  47, 142, 175, 184, 188, 196, 226, 234, 252, 261, 270,
              271, 281, 288, 290, 299, 303, 308, 314, 322, 330, 331, 336],
             dtype=int64)                                                     ,
       array([  7,  21,  24,  73,  75, 114, 133, 145, 153, 159, 165, 189, 200,

In [35]:
for i in indice:
    if len(i) == 1:
        print("beep")

In [36]:
distance[210]

array([1.37632466, 0.        ])

In [37]:
for i in range(340):
    if len(indice[i]) == 1:
        print(i)

In [38]:
for i in range(len(distance)):
    if len(distance[i]) < 6:
        continue
    else:
        while len(distance[i]) > 6:
#             print(distance[i])
            kk = np.where(distance[i] == max(distance[i]))
            distance[i] = np.delete(distance[i], kk)
            indice[i] = np.delete(indice[i], kk)
#     a = np.where(distance[i] > 3.)
#     print(a)  # len(distance[i] - len(a)) 7 - 5 = 2
#     print(len(distances[i]) - len(a[0]))
#     distances[i] = distances[i][~np.isin(np.arange(distances[i].size), a)]

In [39]:
ind1 = []
ind2 = []
for i in range(len(indice)):
    new_ind1 = [i]*(len(indice[i])-1)
    new_ind2 = []
    for j in range(len(indice[i])):
        if indice[i][j] != i:
            new_ind2 += [indice[i][j]]
    ind1 += new_ind1
    ind2 += new_ind2
print(len(ind1), len(ind2))

1623 1623

In [40]:
indice

array([array([  0,  76, 199, 219, 224, 337], dtype=int64),
       array([  1, 102, 103, 128, 161, 296], dtype=int64),
       array([  2,  52, 123, 177, 206, 324], dtype=int64),
       array([  3,  12,  83, 160, 269, 300], dtype=int64),
       array([  4,  85, 114, 133], dtype=int64),
       array([  5,  60,  72, 152, 181, 254], dtype=int64),
       array([  6,  25,  49,  99, 147, 240], dtype=int64),
       array([  7, 145, 165, 189, 200, 214], dtype=int64),
       array([  8,  32,  85, 137, 149, 172], dtype=int64),
       array([  9, 163, 174, 185, 236, 263], dtype=int64),
       array([ 10, 107, 157], dtype=int64),
       array([ 11, 112, 139, 244, 304, 323], dtype=int64),
       array([  3,  12,  83, 160, 177, 300], dtype=int64),
       array([ 13,  22,  41,  59, 130, 211], dtype=int64),
       array([ 14,  79,  91, 186, 194, 273], dtype=int64),
       array([ 15, 160, 230, 300], dtype=int64),
       array([ 16,  67,  70, 227, 305, 332], dtype=int64),
       array([ 17,  26, 117, 166, 170, 173], dtype=int64),
       array([ 18,  28,  50,  78,  82, 127], dtype=int64),
       array([ 19,  33,  44,  65, 334, 339], dtype=int64),
       array([ 20,  42,  57,  66, 187, 329], dtype=int64),
       array([ 21, 159, 189, 200, 203, 216], dtype=int64),
       array([ 13,  22,  59, 130, 162, 317], dtype=int64),
       array([  1,  23,  56, 161, 176, 259], dtype=int64),
       array([  7,  21,  24, 153, 159, 165], dtype=int64),
       array([  6,  25,  49,  99, 147, 240], dtype=int64),
       array([ 17,  26,  87, 166, 170, 173], dtype=int64),
       array([ 27, 217, 223, 274, 277, 318], dtype=int64),
       array([ 18,  28,  78,  82, 127, 334], dtype=int64),
       array([ 29,  70, 122, 135, 338], dtype=int64),
       array([ 30, 196, 226, 281, 308, 336], dtype=int64),
       array([ 31,  46, 132], dtype=int64),
       array([  8,  32, 149, 332, 337], dtype=int64),
       array([ 19,  33,  44,  78, 334, 339], dtype=int64),
       array([ 34,  47, 175, 261, 271, 288], dtype=int64),
       array([ 35,  88, 131, 215, 306, 316], dtype=int64),
       array([ 36,  53,  61, 144, 171, 307], dtype=int64),
       array([ 37,  41,  92, 136, 211, 309], dtype=int64),
       array([ 38, 217, 239, 262, 318, 335], dtype=int64),
       array([ 39, 190, 235, 243, 248], dtype=int64),
       array([ 40,  52,  64,  81, 206, 324], dtype=int64),
       array([ 13,  41,  59,  89, 130, 211], dtype=int64),
       array([ 20,  42,  66, 187, 258, 329], dtype=int64),
       array([ 43, 101, 153, 165, 209, 259], dtype=int64),
       array([ 19,  33,  44,  78, 334, 339], dtype=int64),
       array([ 45, 141, 142, 151, 299, 322], dtype=int64),
       array([ 31,  46, 132], dtype=int64),
       array([ 34,  47, 252, 261, 271, 290], dtype=int64),
       array([ 48, 148, 191, 249, 256, 285], dtype=int64),
       array([ 25,  49,  97,  99, 228, 240], dtype=int64),
       array([ 49,  50,  97,  99, 228, 240], dtype=int64),
       array([ 51,  93, 164, 183, 294, 297], dtype=int64),
       array([ 40,  52,  64,  81, 206, 324], dtype=int64),
       array([ 36,  53,  61, 144, 171, 307], dtype=int64),
       array([ 54, 146, 194, 272, 273, 287], dtype=int64),
       array([ 55, 120, 139, 169, 180, 207], dtype=int64),
       array([  1,  23,  56,  75, 176, 259], dtype=int64),
       array([ 20,  57, 141, 151, 187, 225], dtype=int64),
       array([ 58,  87, 208], dtype=int64),
       array([ 13,  22,  59, 130, 162, 211], dtype=int64),
       array([  5,  60, 152, 199, 254], dtype=int64),
       array([ 36,  53,  61, 144, 171, 222], dtype=int64),
       array([ 62,  68,  69,  71, 116, 118], dtype=int64),
       array([ 63,  64,  86, 108, 134, 325], dtype=int64),
       array([ 40,  64,  81, 108, 269, 325], dtype=int64),
       array([ 16,  19,  65, 305, 334, 339], dtype=int64),
       array([ 13,  59,  66, 130, 162, 258], dtype=int64),
       array([ 16,  67,  70, 227, 305, 332], dtype=int64),
       array([ 62,  68,  69,  71, 116, 118], dtype=int64),
       array([ 62,  69,  71, 116, 117, 118], dtype=int64),
       array([ 16,  67,  70, 227, 305, 338], dtype=int64),
       array([ 62,  68,  69,  71, 116, 118], dtype=int64),
       array([  5,  72,  96, 110, 181, 192], dtype=int64),
       array([ 73, 145, 159, 189, 200, 216], dtype=int64),
       array([ 74, 158, 221], dtype=int64),
       array([  7,  75, 133, 165, 214, 259], dtype=int64),
       array([  0,  76, 199, 219, 224, 337], dtype=int64),
       array([ 72,  77,  96, 143, 192, 236], dtype=int64),
       array([ 19,  28,  44,  78,  82, 334], dtype=int64),
       array([ 14,  79,  91, 186, 194, 272], dtype=int64),
       array([ 80,  88, 218, 231, 251, 333], dtype=int64),
       array([ 40,  52,  64,  81, 206, 324], dtype=int64),
       array([ 18,  28,  78,  82, 127, 334], dtype=int64),
       array([  3,  12,  52,  64,  83, 269], dtype=int64),
       array([ 84, 102, 103, 128, 193, 296], dtype=int64),
       array([  4,   8,  85, 133, 149, 176], dtype=int64),
       array([ 63,  86, 104, 108, 195, 325], dtype=int64),
       array([ 26,  58,  87, 208], dtype=int64),
       array([ 80,  88, 218, 231, 251, 284], dtype=int64),
       array([ 13,  41,  89, 130, 155, 223], dtype=int64),
       array([ 48,  90, 105, 148, 249, 285], dtype=int64),
       array([ 14,  79,  91, 186, 194, 272], dtype=int64),
       array([ 37,  92, 108, 134, 325], dtype=int64),
       array([ 51,  93, 164, 183, 294, 297], dtype=int64),
       array([ 94, 201, 202, 205], dtype=int64),
       array([ 95, 115, 253, 279, 283, 291], dtype=int64),
       array([ 72,  96, 104, 106, 110, 192], dtype=int64),
       array([ 25,  49,  97,  99, 228, 240], dtype=int64),
       array([ 90,  98, 121, 154, 285, 293], dtype=int64),
       array([ 25,  49,  97,  99, 147, 240], dtype=int64),
       array([ 55, 100, 120, 169, 207, 301], dtype=int64),
       array([ 43, 101, 153, 158, 168, 209], dtype=int64),
       array([  1, 102, 103, 128, 161, 296], dtype=int64),
       array([ 84, 102, 103, 128, 161, 296], dtype=int64),
       array([104, 106, 109, 110, 111, 195], dtype=int64),
       array([ 90, 105, 148], dtype=int64),
       array([ 96, 104, 106, 109, 111, 195], dtype=int64),
       array([ 10, 107], dtype=int64),
       array([ 63,  64,  92, 108, 134, 325], dtype=int64),
       array([104, 106, 109, 111, 195, 263], dtype=int64),
       array([ 72,  96, 104, 110, 123, 192], dtype=int64),
       array([104, 106, 109, 111, 113, 195], dtype=int64),
       array([ 11, 112, 124, 139, 178, 304], dtype=int64),
       array([  9, 113, 156, 174, 185, 263], dtype=int64),
       array([  4,  73, 114, 133, 145, 200], dtype=int64),
       array([ 95, 115, 253, 283, 291, 293], dtype=int64),
       array([ 62,  68,  69,  71, 116, 117], dtype=int64),
       array([ 62,  68,  69, 116, 117, 173], dtype=int64),
       array([ 62,  68,  69,  71, 118, 289], dtype=int64),
       array([102, 119, 128, 161, 163, 296], dtype=int64),
       array([ 55, 100, 120, 169, 180, 301], dtype=int64),
       array([ 98, 121, 229, 237, 250], dtype=int64),
       array([ 29, 122, 135, 338], dtype=int64),
       array([  2,  52, 110, 123, 206, 324], dtype=int64),
       array([112, 124, 178, 194, 273, 287], dtype=int64),
       array([  1,  23, 125, 138, 161, 176], dtype=int64),
       array([126, 129, 220, 225, 255, 328], dtype=int64),
       array([ 18,  28,  50,  78,  82, 127], dtype=int64),
       array([  1, 102, 103, 128, 161, 296], dtype=int64),
       array([126, 129, 233, 255, 268, 317], dtype=int64),
       array([ 13,  22,  41,  59, 130, 211], dtype=int64),
       array([ 35,  88, 131, 204, 284, 306], dtype=int64),
       array([  6,  25,  31,  46, 132, 147], dtype=int64),
       array([  4,  75,  85, 114, 133, 214], dtype=int64),
       array([ 63,  86,  92, 108, 134, 229], dtype=int64),
       array([ 29,  70, 122, 135, 338], dtype=int64),
       array([ 36,  53, 136, 211, 307, 309], dtype=int64),
       array([  8, 137, 149, 172, 199, 224], dtype=int64),
       array([  1, 125, 138, 161, 163, 176], dtype=int64),
       array([ 11,  55, 112, 139, 197, 323], dtype=int64),
       array([140, 232, 241, 315, 319, 326], dtype=int64),
       array([141, 225, 299, 322, 328, 331], dtype=int64),
       array([ 45, 142, 299, 303, 322, 331], dtype=int64),
       array([ 72,  77,  96, 143, 192, 236], dtype=int64),
       array([ 36,  53,  61, 144, 171, 222], dtype=int64),
       array([ 21,  73, 145, 189, 200, 216], dtype=int64),
       array([ 54, 146, 272, 287, 289, 294], dtype=int64),
       array([  6,  25,  49,  99, 147, 240], dtype=int64),
       array([ 48,  90, 105, 148, 249, 285], dtype=int64),
       array([  8,  85, 137, 149, 172, 176], dtype=int64),
       array([150, 212, 215, 232, 282, 319], dtype=int64),
       array([ 45,  57, 141, 151, 225, 322], dtype=int64),
       array([  5,  60, 152, 199, 254], dtype=int64),
       array([ 24,  43, 153, 165, 209, 259], dtype=int64),
       array([ 98, 154, 164, 253, 293, 297], dtype=int64),
       array([ 41,  89, 155, 223, 233, 317], dtype=int64),
       array([111, 113, 156], dtype=int64),
       array([ 10,  14, 124, 157, 178, 194], dtype=int64),
       array([ 43,  74, 101, 158, 168, 221], dtype=int64),
       array([ 21, 159, 189, 200, 203, 216], dtype=int64),
       array([  3,  12,  83, 160, 177, 300], dtype=int64),
       array([  1, 102, 103, 128, 161, 296], dtype=int64),
       array([ 13,  22,  59,  66, 130, 162], dtype=int64),
       array([  9, 102, 119, 161, 163, 174], dtype=int64),
       array([ 51,  93, 154, 164, 183, 297], dtype=int64),
       array([  7,  24, 153, 165, 189, 259], dtype=int64),
       array([ 17, 116, 117, 166, 173, 205], dtype=int64),
       array([ 11, 112, 167, 244, 304, 323], dtype=int64),
       array([ 43,  84, 101, 103, 158, 168], dtype=int64),
       array([ 55, 100, 120, 169, 180, 301], dtype=int64),
       array([ 17,  26, 166, 170, 173, 301], dtype=int64),
       array([ 36,  53,  61, 144, 171, 222], dtype=int64),
       array([  8, 137, 149, 172, 199, 254], dtype=int64),
       array([ 17, 116, 117, 166, 170, 173], dtype=int64),
       array([  9, 113, 174, 185, 236, 263], dtype=int64),
       array([ 34,  47, 175, 261, 271, 290], dtype=int64),
       array([  8,  56,  85, 133, 149, 176], dtype=int64),
       array([  2,   3,  12,  83, 160, 177], dtype=int64),
       array([112, 124, 157, 178, 194, 304], dtype=int64),
       array([179, 238, 264, 265, 311], dtype=int64),
       array([ 55, 120, 169, 180, 260, 301], dtype=int64),
       array([  5,  72, 110, 123, 181], dtype=int64),
       array([182, 226, 235, 247, 320, 327], dtype=int64),
       array([ 51,  93, 164, 183, 294, 297], dtype=int64),
       array([184, 188, 196, 234, 270, 308], dtype=int64),
       array([  9, 113, 174, 185, 236, 263], dtype=int64),
       array([ 14,  91, 186, 194, 272, 273], dtype=int64),
       array([ 20,  42,  57, 151, 187, 329], dtype=int64),
       array([184, 188, 234, 270, 308, 314], dtype=int64),
       array([  7,  73, 145, 189, 200, 216], dtype=int64),
       array([ 39, 190, 204, 215, 248, 306], dtype=int64),
       array([ 48, 115, 191, 256, 283, 295], dtype=int64),
       array([ 72,  77,  96, 110, 143, 192], dtype=int64),
       array([ 84, 103, 128, 193, 202], dtype=int64),
       array([ 14,  54, 186, 194, 272, 273], dtype=int64),
       array([ 86, 104, 106, 109, 111, 195], dtype=int64),
       array([184, 188, 196, 270, 308, 330], dtype=int64),
       array([ 11, 139, 197, 244, 260, 323], dtype=int64),
       array([198, 246, 310, 312], dtype=int64),
       array([ 60,  76, 199, 219, 224, 254], dtype=int64),
       array([  7,  73, 145, 189, 200, 216], dtype=int64),
       array([ 94, 201, 202, 205], dtype=int64),
       array([ 94, 193, 201, 202], dtype=int64),
       array([ 21, 145, 159, 200, 203, 216], dtype=int64),
       array([ 35, 131, 204, 275, 284, 306], dtype=int64),
       array([ 94, 166, 173, 201, 205], dtype=int64),
       array([ 40,  52,  81, 123, 206, 324], dtype=int64),
       array([ 55, 100, 118, 120, 169, 207], dtype=int64),
       array([ 58,  87, 208], dtype=int64),
       array([ 43, 101, 153, 165, 209, 259], dtype=int64),
       array([157, 210], dtype=int64),
       array([ 13,  41,  59, 130, 211, 309], dtype=int64),
       array([150, 212, 232, 282, 290, 319], dtype=int64),
       array([191, 213, 242, 256, 295], dtype=int64),
       array([  7,  75, 133, 165, 214, 259], dtype=int64),
       array([ 35, 150, 215, 282, 306, 316], dtype=int64),
       array([ 73, 145, 159, 189, 200, 216], dtype=int64),
       array([ 38, 217, 239, 277, 318, 335], dtype=int64),
       array([ 80,  88, 218, 231, 251, 284], dtype=int64),
       array([  0,  76, 199, 219, 224, 337], dtype=int64),
       array([126, 220, 292, 299, 328, 331], dtype=int64),
       array([ 74, 158, 221], dtype=int64),
       array([ 53,  61, 144, 171, 222, 230], dtype=int64),
       array([ 27,  89, 155, 223, 274, 277], dtype=int64),
       array([  0,  76, 199, 219, 224, 337], dtype=int64),
       array([ 57, 141, 151, 225, 299, 328], dtype=int64),
       array([ 30, 188, 226, 252, 308, 314], dtype=int64),
       array([ 16,  67,  70, 227, 305, 332], dtype=int64),
       array([ 49,  50,  97,  99, 228, 240], dtype=int64),
       array([121, 134, 229, 250], dtype=int64),
       array([ 53,  61, 144, 171, 222, 230], dtype=int64),
       array([ 80,  88, 218, 231, 251, 333], dtype=int64),
       array([150, 212, 232, 282, 290, 319], dtype=int64),
       array([126, 129, 233, 255, 268, 317], dtype=int64),
       array([184, 188, 234, 270, 288, 308], dtype=int64),
       array([182, 235, 247, 248, 320, 327], dtype=int64),
       array([  9,  77, 174, 185, 236, 263], dtype=int64),
       array([121, 237], dtype=int64),
       array([179, 238, 264, 265, 311], dtype=int64),
       array([ 38, 217, 239, 257, 276, 335], dtype=int64),
       array([ 25,  49,  97,  99, 228, 240], dtype=int64),
       array([140, 241, 245, 298, 315, 326], dtype=int64),
       array([213, 217, 242, 256, 262, 318], dtype=int64),
       array([ 39, 190, 204, 243, 275, 310], dtype=int64),
       array([ 11, 112, 167, 244, 304, 323], dtype=int64),
       array([ 80, 245, 267, 298, 315, 333], dtype=int64),
       array([198, 246, 275, 302, 310, 312], dtype=int64),
       array([182, 212, 247, 282, 320, 327], dtype=int64),
       array([ 39, 190, 215, 248, 306, 327], dtype=int64),
       array([ 48,  90, 148, 249, 274, 285], dtype=int64),
       array([121, 134, 229, 250], dtype=int64),
       array([ 80,  88, 218, 231, 251, 284], dtype=int64),
       array([ 47, 226, 252, 261, 288, 314], dtype=int64),
       array([ 95, 115, 253, 279, 283, 293], dtype=int64),
       array([  5,  60, 152, 172, 199, 254], dtype=int64),
       array([126, 129, 233, 255, 317, 328], dtype=int64),
       array([ 48, 191, 213, 242, 256, 295], dtype=int64),
       array([239, 257, 264, 265, 278, 335], dtype=int64),
       array([ 20,  59,  66, 130, 162, 258], dtype=int64),
       array([ 43, 153, 165, 209, 214, 259], dtype=int64),
       array([ 55, 139, 180, 197, 260, 323], dtype=int64),
       array([ 34,  47, 175, 261, 271, 290], dtype=int64),
       array([ 38, 242, 262, 318], dtype=int64),
       array([  9, 113, 174, 185, 236, 263], dtype=int64),
       array([179, 238, 257, 264, 265, 311], dtype=int64),
       array([179, 238, 257, 264, 265, 311], dtype=int64),
       array([ 95, 253, 266, 279, 294, 297], dtype=int64),
       array([245, 267, 286, 298, 321, 333], dtype=int64),
       array([129, 233, 255, 268, 276, 317], dtype=int64),
       array([  3,  12,  40,  64,  83, 269], dtype=int64),
       array([184, 188, 196, 234, 270, 308], dtype=int64),
       array([ 34,  47, 175, 261, 271, 288], dtype=int64),
       array([ 54, 146, 186, 194, 272, 273], dtype=int64),
       array([ 54, 124, 186, 194, 273, 287], dtype=int64),
       array([ 27,  89, 223, 249, 274, 277], dtype=int64),
       array([131, 204, 251, 275, 284, 302], dtype=int64),
       array([129, 233, 239, 268, 276, 278], dtype=int64),
       array([ 27, 217, 223, 274, 277, 318], dtype=int64),
       array([126, 220, 257, 278, 292, 336], dtype=int64),
       array([ 95, 115, 253, 266, 279, 291], dtype=int64),
       array([267, 280, 286, 313, 321, 333], dtype=int64),
       array([ 30, 196, 281, 308, 330, 336], dtype=int64),
       array([150, 212, 215, 232, 247, 282], dtype=int64),
       array([ 95, 115, 253, 283, 291, 293], dtype=int64),
       array([ 88, 131, 218, 251, 284, 302], dtype=int64),
       array([ 48,  90, 148, 249, 285, 293], dtype=int64),
       array([267, 280, 286, 298, 321, 333], dtype=int64),
       array([ 54, 124, 146, 273, 287, 289], dtype=int64),
       array([ 34,  47, 188, 234, 288, 314], dtype=int64),
       array([ 54,  71, 118, 146, 287, 289], dtype=int64),
       array([ 47, 212, 232, 261, 282, 290], dtype=int64),
       array([ 95, 115, 253, 279, 283, 291], dtype=int64),
       array([220, 278, 281, 292, 331, 336], dtype=int64),
       array([115, 154, 253, 283, 285, 293], dtype=int64),
       array([ 51,  93, 146, 183, 266, 294], dtype=int64),
       array([115, 191, 213, 256, 291, 295], dtype=int64),
       array([  1, 102, 103, 128, 161, 296], dtype=int64),
       array([ 51,  93, 154, 164, 183, 297], dtype=int64),
       array([241, 245, 267, 298, 315, 333], dtype=int64),
       array([141, 142, 299, 303, 322, 331], dtype=int64),
       array([  3,  12,  15, 160, 177, 300], dtype=int64),
       array([ 17, 100, 120, 169, 170, 301], dtype=int64),
       array([131, 204, 251, 275, 284, 302], dtype=int64),
       array([142, 299, 303, 322, 330, 331], dtype=int64),
       array([ 11, 112, 167, 178, 244, 304], dtype=int64),
       array([ 16,  67,  70, 227, 305, 332], dtype=int64),
       array([ 35, 131, 204, 215, 306, 316], dtype=int64),
       array([ 36,  53,  61, 136, 171, 307], dtype=int64),
       array([184, 188, 196, 234, 270, 308], dtype=int64),
       array([ 13,  36, 136, 211, 307, 309], dtype=int64),
       array([204, 243, 246, 275, 302, 310], dtype=int64),
       array([179, 238, 264, 265, 311, 335], dtype=int64),
       array([198, 246, 310, 312], dtype=int64),
       array([267, 280, 286, 313, 321, 333], dtype=int64),
       array([188, 234, 252, 270, 308, 314], dtype=int64),
       array([140, 241, 245, 298, 315, 326], dtype=int64),
       array([ 35,  88, 215, 306, 316, 319], dtype=int64),
       array([ 22, 129, 155, 233, 255, 317], dtype=int64),
       array([ 27,  38, 217, 242, 277, 318], dtype=int64),
       array([140, 150, 212, 232, 315, 319], dtype=int64),
       array([182, 235, 247, 282, 320, 327], dtype=int64),
       array([ 80, 231, 267, 280, 321, 333], dtype=int64),
       array([141, 142, 299, 303, 322, 331], dtype=int64),
       array([ 11, 139, 197, 244, 260, 323], dtype=int64),
       array([ 40,  52,  81, 123, 206, 324], dtype=int64),
       array([ 63,  64,  81,  86, 108, 325], dtype=int64),
       array([140, 175, 241, 315, 319, 326], dtype=int64),
       array([182, 235, 247, 248, 320, 327], dtype=int64),
       array([126, 141, 220, 225, 328, 331], dtype=int64),
       array([ 20,  42,  57, 151, 187, 329], dtype=int64),
       array([184, 196, 303, 330, 331, 336], dtype=int64),
       array([220, 299, 303, 322, 328, 331], dtype=int64),
       array([ 16,  67, 227, 305, 332, 339], dtype=int64),
       array([ 80, 231, 267, 298, 321, 333], dtype=int64),
       array([ 19,  44,  65,  82, 334, 339], dtype=int64),
       array([ 38, 217, 239, 265, 311, 335], dtype=int64),
       array([184, 196, 281, 292, 330, 336], dtype=int64),
       array([  0,  32,  76, 224, 337, 339], dtype=int64),
       array([ 29,  70, 122, 135, 227, 338], dtype=int64),
       array([ 19,  44,  65, 332, 334, 339], dtype=int64)], dtype=object)

In [41]:
ee = np.vstack((ind1, ind2))
ee.shape, ee

((2, 1623),
 array([[  0,   0,   0, ..., 339, 339, 339],
        [ 76, 199, 219, ...,  65, 332, 334]], dtype=int64))

In [42]:
np.save('edge_index_NOAA.npy', ee)

In [43]:
ff = np.random.randint(43, size = (1623,))
ff

array([32, 42, 11, ..., 34, 14, 40])

In [44]:
np.save('edge_attr_NOAA.npy', ff)

In [45]:
ba = np.load('./edge_index_NOAA.npy')
ca = np.load('./edge_attr_NOAA.npy')
ba, ca

(array([[  0,   0,   0, ..., 339, 339, 339],
        [ 76, 199, 219, ...,  65, 332, 334]], dtype=int64),
 array([32, 42, 11, ..., 34, 14, 40]))

# ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ

In [132]:
gg = bb.copy()
hh = gg.loc[:][['STATION', 'HLY-TEMP-NORMAL', 'HLY-DEWP-NORMAL', 'HLY-WIND-AVGSPD', 'HLY-WIND-VCTSPD', 'day', 'hour']]
# hh.reset_index(inplace = True)
hh

,STATION,HLY-TEMP-NORMAL,HLY-DEWP-NORMAL,HLY-WIND-AVGSPD,HLY-WIND-VCTSPD,day,hour
1536,USW00093837,59.8,50.0,7.6,1.3,6,0
1537,USW00093837,59.0,49.8,7.4,1.5,6,1
1538,USW00093837,58.2,49.7,7.0,1.7,6,2
1539,USW00093837,57.5,49.5,7.3,2.2,6,3
1540,USW00093837,56.7,49.1,7.3,2.3,6,4
...,...,...,...,...,...,...,...
3278251,USW00012819,71.2,55.7,8.6,0.4,25,19
3278252,USW00012819,69.1,56.1,8.0,0.8,25,20
3278253,USW00012819,67.5,56.5,7.4,1.0,25,21
3278254,USW00012819,65.9,56.9,6.4,0.8,25,22
3278255,USW00012819,64.8,57.1,5.8,0.6,25,23

In [133]:
len(np.where(hh.iloc[:,1] == -9999)[0]), len(np.where(hh.iloc[:,2] == -9999)[0]), len(np.where(hh.iloc[:,3] == -9999)[0]), len(np.where(hh.iloc[:,4] == -9999)[0])

(63, 102, 84, 84)

In [134]:
print(np.where(hh.iloc[:,1] == -9999))
print(np.where(hh.iloc[:,1] == -9999)[0])

(array([68660, 68684, 68708, 68732, 68756, 68780, 68804, 68828, 68852,
       68876, 68900, 68924, 68948, 68972, 68996, 69020, 69044, 69068,
       69092, 69116, 72001, 72002, 72003, 72005, 72025, 72026, 72027,
       72029, 72049, 72050, 72051, 72053, 72073, 72074, 72075, 72077,
       72097, 72098, 72099, 72101, 72121, 72122, 72145, 72146, 72147,
       72169, 72170, 72171, 72192, 72193, 72194, 72195, 72216, 72217,
       72218, 72219, 72240, 72241, 72242, 72243, 72265, 72266, 97914],
      dtype=int64),)
[68660 68684 68708 68732 68756 68780 68804 68828 68852 68876 68900 68924
 68948 68972 68996 69020 69044 69068 69092 69116 72001 72002 72003 72005
 72025 72026 72027 72029 72049 72050 72051 72053 72073 72074 72075 72077
 72097 72098 72099 72101 72121 72122 72145 72146 72147 72169 72170 72171
 72192 72193 72194 72195 72216 72217 72218 72219 72240 72241 72242 72243
 72265 72266 97914]

In [135]:
for j in range(1, 5):
    
    for i in np.where(hh.iloc[:,j] == -9999)[0]:
        
        if (hh.iloc[i, 5] == 6) or (hh.iloc[i, 5] == 25) or (hh.iloc[i-1, j] == -9999) or (hh.iloc[i, j] != -9999):
            continue
        
        if hh.iloc[i+1, j] != -9999:
            hh.iloc[i, j] = round((hh.iloc[i-1, j] + hh.iloc[i+1, j])/2, 4)
            
        elif hh.iloc[i+2, j] != -9999:
            hh.iloc[i, j] = round((hh.iloc[i-1, j]*2 + hh.iloc[i+2, j])/3, 4)
            hh.iloc[i+1, j] = round((hh.iloc[i-1, j] + hh.iloc[i+2, j]*2)/3, 4)
            
        elif hh.iloc[i+3, j] != -9999:
            hh.iloc[i, j] = round((hh.iloc[i-1, j]*3 + hh.iloc[i+3, j])/4, 4)
            hh.iloc[i+1, j] = round((hh.iloc[i-1, j]*2 + hh.iloc[i+3, j]*2)/4, 4)
            hh.iloc[i+2, j] = round((hh.iloc[i-1, j] + hh.iloc[i+3, j]*3)/4, 4)
            
        elif hh.iloc[i+4, j] != -9999:
            hh.iloc[i, j] = round((hh.iloc[i-1, j]*4 + hh.iloc[i+4, j])/5, 4)
            hh.iloc[i+1, j] = round((hh.iloc[i-1, j]*3 + hh.iloc[i+4, j]*2)/5, 4)
            hh.iloc[i+2, j] = round((hh.iloc[i-1, j]*2 + hh.iloc[i+4, j]*3)/5, 4)
            hh.iloc[i+3, j] = round((hh.iloc[i-1, j] + hh.iloc[i+4, j]*4)/5, 4)

In [136]:
len(np.where(hh.iloc[:,1] == -9999)[0]), len(np.where(hh.iloc[:,2] == -9999)[0]), len(np.where(hh.iloc[:,3] == -9999)[0]), len(np.where(hh.iloc[:,4] == -9999)[0])

(7, 9, 9, 9)

In [145]:
for i in [6, 25]:
    filt = hh[hh['day'] == i].index  # 146880/340 = 432  이틀만 더 줄이면 댐
    hh.drop(filt, inplace = True)
    print(hh.shape)

len(np.where(hh.iloc[:,1] == -9999)[0]), len(np.where(hh.iloc[:,2] == -9999)[0]), len(np.where(hh.iloc[:,3] == -9999)[0]), len(np.where(hh.iloc[:,4] == -9999)[0]), hh

(155040, 7)
(146880, 7)

(0,
 0,
 0,
 0,
              STATION  HLY-TEMP-NORMAL  HLY-DEWP-NORMAL  HLY-WIND-AVGSPD  \
 1560     USW00093837             60.2             50.3              7.6
 1561     USW00093837             59.3             50.2              7.4
 1562     USW00093837             58.6             50.1              7.0
 1563     USW00093837             57.9             49.9              7.3
 1564     USW00093837             57.1             49.4              7.1
 ...              ...              ...              ...              ...
 3278227  USW00012819             70.9             55.3              8.6
 3278228  USW00012819             68.9             55.8              8.1
 3278229  USW00012819             67.2             56.2              7.6
 3278230  USW00012819             65.7             56.6              6.5
 3278231  USW00012819             64.6             56.8              5.9

          HLY-WIND-VCTSPD  day  hour
 1560                 1.3    7     0
 1561                 1.5    7     1
 1562                 1.7    7     2
 1563                 2.0    7     3
 1564                 2.1    7     4
 ...                  ...  ...   ...
 3278227              0.6   24    19
 3278228              1.0   24    20
 3278229              1.1   24    21
 3278230              0.9   24    22
 3278231              0.6   24    23

 [146880 rows x 7 columns])

In [147]:
for i in [23, 24]:
    filt = hh[hh['day'] == i].index  # 130560/340 = 384  7일 00:00 ~ 22일 23:00
    hh.drop(filt, inplace = True)
    print(hh.shape)

(130560, 7)
(130560, 7)

In [154]:
ii = np.array(hh.iloc[:,1:5])
ii.shape, ii

((130560, 4),
 array([[60.2, 50.3,  7.6,  1.3],
        [59.3, 50.2,  7.4,  1.5],
        [58.6, 50.1,  7. ,  1.7],
        ...,
        [66.9, 55.5,  7.5,  1.2],
        [65.4, 56. ,  6.5,  0.9],
        [64.3, 56.2,  5.9,  0.6]]))

In [170]:
jj = np.array([[ii[0]]])
print(jj)

for i in range(1, 340):
    jj = np.concatenate((jj, np.array([[ii[384*i]]])), axis = 1)

print(jj)

for i in range(1, 384):
    kk = np.array([[ii[i]]])
#     print(kk)
    for j in range(1, 340):
        kk = np.concatenate((kk, np.array([[ii[j*384 + i]]])), axis = 1)
    jj = np.concatenate((jj, kk), axis = 0)
jj.shape

[[[60.2 50.3  7.6  1.3]]]
[[[60.2 50.3  7.6  1.3]
  [47.6 39.8  3.4  1. ]
  [49.8 43.3  6.3  1.6]
  ...
  [55.1 49.1  4.1  0.8]
  [60.8 55.5  6.1  2. ]
  [60.3 53.1  5.5  0.4]]]

(384, 340, 4)

In [174]:
pd.DataFrame(jj[0])

        0     1    2    3
0    60.2  50.3  7.6  1.3
1    47.6  39.8  3.4  1.0
2    49.8  43.3  6.3  1.6
3    46.9  39.8  5.6  1.2
4    56.1  50.8  5.7  0.5
..    ...   ...  ...  ...
335  30.1  20.7  7.5  4.3
336  32.5  23.1  3.4  1.1
337  55.1  49.1  4.1  0.8
338  60.8  55.5  6.1  2.0
339  60.3  53.1  5.5  0.4

[340 rows x 4 columns]

In [178]:
pd.DataFrame(jj[1])

        0     1    2    3
0    59.3  50.2  7.4  1.5
1    47.0  39.5  3.7  1.2
2    49.3  43.1  5.9  1.4
3    46.3  39.5  5.9  1.2
4    55.5  50.4  8.8  4.0
..    ...   ...  ...  ...
335  29.7  20.6  7.8  4.8
336  31.6  23.0  3.2  1.3
337  54.0  48.7  4.1  0.8
338  59.6  55.2  6.0  2.2
339  59.5  53.1  5.2  0.4

[340 rows x 4 columns]

In [182]:
hh.iloc[0, 1:5], hh.iloc[1, 1:5], hh.iloc[384, 1:5], hh.iloc[385, 1:5]  # 검산 끝

(HLY-TEMP-NORMAL    60.2
 HLY-DEWP-NORMAL    50.3
 HLY-WIND-AVGSPD     7.6
 HLY-WIND-VCTSPD     1.3
 Name: 1560, dtype: object,
 HLY-TEMP-NORMAL    59.3
 HLY-DEWP-NORMAL    50.2
 HLY-WIND-AVGSPD     7.4
 HLY-WIND-VCTSPD     1.5
 Name: 1561, dtype: object,
 HLY-TEMP-NORMAL    47.6
 HLY-DEWP-NORMAL    39.8
 HLY-WIND-AVGSPD     3.4
 HLY-WIND-VCTSPD     1.0
 Name: 10320, dtype: object,
 HLY-TEMP-NORMAL    47.0
 HLY-DEWP-NORMAL    39.5
 HLY-WIND-AVGSPD     3.7
 HLY-WIND-VCTSPD     1.2
 Name: 10321, dtype: object)

In [184]:
np.save('./X_NOAA.npy', jj)

In [32]:
ll = np.load('./X_NOAA.npy')
ll.shape, ll

((384, 340, 4),
 array([[[60.2, 50.3,  7.6,  1.3],
         [47.6, 39.8,  3.4,  1. ],
         [49.8, 43.3,  6.3,  1.6],
         ...,
         [55.1, 49.1,  4.1,  0.8],
         [60.8, 55.5,  6.1,  2. ],
         [60.3, 53.1,  5.5,  0.4]],

        [[59.3, 50.2,  7.4,  1.5],
         [47. , 39.5,  3.7,  1.2],
         [49.3, 43.1,  5.9,  1.4],
         ...,
         [54. , 48.7,  4.1,  0.8],
         [59.6, 55.2,  6. ,  2.2],
         [59.5, 53.1,  5.2,  0.4]],

        [[58.6, 50.1,  7. ,  1.7],
         [46.3, 39.3,  3.8,  1.2],
         [48.7, 42.6,  5.8,  1.3],
         ...,
         [53.1, 48.4,  3.7,  0.7],
         [58.7, 55. ,  5.7,  2.2],
         [58.9, 53. ,  5. ,  0.8]],

        ...,

        [[66.5, 53.2,  8.4,  1.5],
         [55.5, 44.9,  3.2,  0.6],
         [55.4, 47.8,  7. ,  2. ],
         ...,
         [62.8, 53.1,  6.1,  0.7],
         [67.4, 58.4,  7.2,  1.5],
         [66.9, 55.5,  7.5,  1.2]],

        [[65.6, 53.6,  8.1,  1.3],
         [53.8, 44.6,  3.1,  0.6],
         [54.6, 47.8,  6.8,  1.5],
         ...,
         [60.9, 53. ,  5.1,  0.4],
         [65.8, 58.4,  6.8,  1.6],
         [65.4, 56. ,  6.5,  0.9]],

        [[64.7, 53.6,  8. ,  1.4],
         [52.4, 44.2,  3.1,  0.6],
         [54. , 47.5,  6.4,  1.1],
         ...,
         [59.4, 53. ,  4.3,  0.5],
         [64.2, 58.1,  5.9,  1.5],
         [64.3, 56.2,  5.9,  0.6]]]))

In [33]:
np.mean((np.mean(ll, axis = 0)), axis = 0)

array([47.86242839, 34.86508157,  8.07632161,  2.56402612])

In [34]:
mm = ll-np.mean((np.mean(ll, axis = 0)), axis = 0)
ll-np.mean((np.mean(ll, axis = 0)), axis = 0)

array([[[12.33757161, 15.43491843, -0.47632161, -1.26402612],
        [-0.26242839,  4.93491843, -4.67632161, -1.56402612],
        [ 1.93757161,  8.43491843, -1.77632161, -0.96402612],
        ...,
        [ 7.23757161, 14.23491843, -3.97632161, -1.76402612],
        [12.93757161, 20.63491843, -1.97632161, -0.56402612],
        [12.43757161, 18.23491843, -2.57632161, -2.16402612]],

       [[11.43757161, 15.33491843, -0.67632161, -1.06402612],
        [-0.86242839,  4.63491843, -4.37632161, -1.36402612],
        [ 1.43757161,  8.23491843, -2.17632161, -1.16402612],
        ...,
        [ 6.13757161, 13.83491843, -3.97632161, -1.76402612],
        [11.73757161, 20.33491843, -2.07632161, -0.36402612],
        [11.63757161, 18.23491843, -2.87632161, -2.16402612]],

       [[10.73757161, 15.23491843, -1.07632161, -0.86402612],
        [-1.56242839,  4.43491843, -4.27632161, -1.36402612],
        [ 0.83757161,  7.73491843, -2.27632161, -1.26402612],
        ...,
        [ 5.23757161, 13.53491843, -4.37632161, -1.86402612],
        [10.83757161, 20.13491843, -2.37632161, -0.36402612],
        [11.03757161, 18.13491843, -3.07632161, -1.76402612]],

       ...,

       [[18.63757161, 18.33491843,  0.32367839, -1.06402612],
        [ 7.63757161, 10.03491843, -4.87632161, -1.96402612],
        [ 7.53757161, 12.93491843, -1.07632161, -0.56402612],
        ...,
        [14.93757161, 18.23491843, -1.97632161, -1.86402612],
        [19.53757161, 23.53491843, -0.87632161, -1.06402612],
        [19.03757161, 20.63491843, -0.57632161, -1.36402612]],

       [[17.73757161, 18.73491843,  0.02367839, -1.26402612],
        [ 5.93757161,  9.73491843, -4.97632161, -1.96402612],
        [ 6.73757161, 12.93491843, -1.27632161, -1.06402612],
        ...,
        [13.03757161, 18.13491843, -2.97632161, -2.16402612],
        [17.93757161, 23.53491843, -1.27632161, -0.96402612],
        [17.53757161, 21.13491843, -1.57632161, -1.66402612]],

       [[16.83757161, 18.73491843, -0.07632161, -1.16402612],
        [ 4.53757161,  9.33491843, -4.97632161, -1.96402612],
        [ 6.13757161, 12.63491843, -1.67632161, -1.46402612],
        ...,
        [11.53757161, 18.13491843, -3.77632161, -2.06402612],
        [16.33757161, 23.23491843, -2.17632161, -1.06402612],
        [16.43757161, 21.33491843, -2.17632161, -1.96402612]]])

In [35]:
sigma = np.sqrt(np.sum(np.sum(mm**2, axis = 0), axis = 0))
nn = mm/sigma
nn.sum()

-1.1577405700791132e-12

In [36]:
np.save('./X_NOAA(normalize).npy', nn)